<html>
<head>
  <title>Flask Home</title>
  <style type="text/css">

    .block1{
    position:fixed;
    top: 200px;
    left:200px;}

  .block2{
         background: green;
         width: 100%;
         height: 100px;
         position: relative;
         left: 0px;
    	 top: -30px;}

.p_block1{
    color:white;
    position:relative;
    top: 40px;
    left:50px;}
.diagramm{
    position:absolute;
    top: 110px;
    left:80px;
}

.block_blue1{
background-color: rgb(153, 217, 234);
position: absolute;
top: 90px;
width: 100px;
height: 510px;
}

.GIST1{
position: absolute;
left: 20px;
font-size: 15px;
color: white;
width: .7em;
text-align: center;
font: Consolas, Monaco, monospace;
word-wrap: break-word;}

.block_blue2{
background-color: rgb(153, 217, 234);
position: absolute;
top: 90px;
left: 1175px;
width: 174px;
height: 510px;
z-index: 1;
}

.GIST2{
position: absolute;
left: 20px;
font-size: 15px;
color: white;
width: .7em;
text-align: center;
font: Consolas, Monaco, monospace;
word-wrap: break-word;}

    th, td {border: 1px solid grey;}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
position:absolute;
top: 600px;
width: 100%
}
th, td:first-child {
background: #AFCDE7;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #D8E6F3;
}
th:first-child, td:first-child {
text-align: left;
}
  </style>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="block2">
<h1 class="p_block1">AgroStatic of Russian Fediration</h1>
</div>

<!--div class="block1">
<table>
    {% for row in rows %}
      <tr>
         <td>{{row["REZ"]}}</td>
      </tr>
    {% endfor %}
</table>
</div-->
<table>
    {% for row in rows %}
      <tr>
         <td>{{row["RF"]}}</td>
         <td>{{row["REZ"]}}</td>
      </tr>
    {% endfor %}
</table>

<div class="block_blue1">
  <div class="GIST1">Гистограмма эффективности</div>
</div>

<div class="block_blue2">
  <div class="GIST2">Гистограмма эффективности</div>
</div>

<div class="diagramm">
  <div class="container">
    <canvas id="myChart"></canvas>
  </div>
</div>
 <script>
    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 15;
    Chart.defaults.global.defaultFontColor = '#777';

    let massPopChart = new Chart(myChart, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:[
        'Алтайский край',
        'Амурская область',
        'Архангельская область',
        'Астраханская область',
        'Белгородская область',
        'Брянская область',
         'Владимирская область',
'Волгоградская область',
'Вологодская область',
'Воронежская область',
'Город Москва',
'Город Санкт-Петербург',
'Город Севастополь',
'Город федерального значения Севастополь',
'Еврейская автономная область',
'Забайкальский край',
'Ивановская область',
'Иркутская область',
'Кабардино-Балкарская Республика',
'Калининградская область',
'Калужская область',
'Камчатский край',
'Карачаево-Черкесская Республика',
'Кемеровская область - Кузбасс',
'Кировская область',
'Костромская область',
'Краснодарский край',
'Красноярский край',
'Курганская область',
'Курская область',
'Ленинградская область',
'Липецкая область',
'Магаданская область',
'Московская область',
'Мурманская область',
'Ненецкий автономный округ',
'Нижегородская область',
'Новгородская область',
'Новосибирская область',
'Омская область',
'Оренбургская область',
'Орловская область',
'Пензенская область',
'Пермский край',
'Приволжский федеральный округ',
'Приморский край',
'Псковская область',
'Республика Адыгея',
'Республика Алтай',
'Республика Башкортостан',
'Республика Бурятия',
'Республика Дагестан',
'Республика Ингушетия*',
'Республика Калмыкия',
'Республика Карелия',
'Республика Коми',
'Республика Крым',
'Республика Марий Эл',
'Республика Мордовия',
'Республика Саха (Якутия)',
'Республика Северная Осетия-Алания',
'Республика Татарстан (Татарстан)',
'Республика Тыва',
'Республика Хакасия',
'Ростовская область',
'Рязанская область',
'Самарская область',
'Саратовская область',
'Сахалинская область',
'Свердловская область',
'Северо-Западный федеральный округ',
'Северо-Кавказский федеральный округ',
'Смоленская область',
'Ставропольский край',
'Тамбовская область',
'Тверская область',
'Томская область',
'Тульская область',
'Тюменская область',
'Тюменская область)',
'Удмуртская Республика',
'Ульяновская область',
'Уральский федеральный округ',
'Хабаровский край',
'Ханты-Мансийский автономный округ',
'Челябинская область',
'Чеченская Республика*',
'Чувашская Республика - Чувашия',
'Чукотский автономный округ',
'Южный федеральный округ',
'Ямало-Ненецкий автономный округ',
'Ярославская область'
         ],
        datasets:[{
          label:'',
          data:[
            10256755.136377335,
            10147407.322182037,
            20650911.262055457,
            6552548.623417721,
            12037408.59930681,
            7792121.730711272,
            10256755.136377335,
10147407.322182037,
20650911.262055457,
6552548.623417721,
12037408.59930681,
7792121.730711272,
8651604.052139843,
10800807.899336949,
10029688.945901144,
12572602.626582278,
12285661.708860759,
10682471.932640143,
9595000,
2777406.1708860756,
13385051.101567209,
11359563.306962024,
9401768.469710667,
11141548.385322483,
12223543.817058468,
7718534.683544303,
9016961.35021097,
9995260.9712176,
9535980.018836647,
10524225.518384568,
9220908.030440023,
14329733.62341772,
13188318.254972875,
10469296.350210968,
10306066.888185654,
9414349.327908378,
8611026.0043701,
9969991.477546714,
9406835.870253164,
6244541.170886075,
8536223.375527427,
14089501.194996983,
8596946.936407473,
9935509.57278481,
8069349.572784809,
7203502.361362265,
7447493.306962024,
12037408.59930681,
8255010.260699215,
12996389.327908376,
14089501.194996983,
11781863.493068112,
10532697.599457504,
10308165.956901748,
5867443.159282699,
7945665.116033754,
7987796.553646775,
7637665.601265823,
7634981.640295358,
12223543.817058468,
11714324.742314646,
9978931.21835443,
7726136.564948763,
14343361.629746836,
6738838.1803797465,
11148397.626582278,
12006691.112115731,
13362428.14421338,
18101873.575949367,
8696071.912296563,
10643406.239451475,
9813826.016425557,
11618215.0685654,
8948635.601265822,
6416547.258890897,
12996389.327908376,
7666439.096594333,
10974759.72498493,
8157803.0997588895,
7818026.698312236,
14130316.198010849,
7818022.041139239,
10928923.296413504,
11281545.874020495,
14472306.528782398,
3181676.2658227845,
9748136.835443038,
12047417.298824593,
9229753.340867992,
8947222.07805907,
8205241.607896322,
13676262.40883062,
7159047.407323688,
11866663.832881253,
5867443.159282699,
7549241.492616033,
8624539.57278481,
6874356.956751054

          ],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'',
          fontSize:5
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        }
      }
    });
  </script>


</body>
</html>